<a href="https://colab.research.google.com/github/Sabari2002/Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
fruits = pd.DataFrame({"Apples" : [30] , "Bananas" : [21]})
fruits

   Apples  Bananas
0      30       21

In [3]:
fruit_sales =pd.DataFrame({"Apples" : [35,41] , "Bananas" : [21,34]}, index=['2017 Sales' , '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [4]:
ingredients = pd.Series(["4 cups","1 cup","2 large","1 can"],index=["Flour","Milk","Eggs","Spam"],name="Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [5]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [6]:
data = animals.to_csv('cows_and_goats.csv')
data

In [7]:
from google.colab import drive
drive.mount("/content/gdrive")
data = pd.read_csv("/content/gdrive/My Drive/Sample data/winemag-data-130k-v2.csv", index_col=0)
df = pd.DataFrame(data)

Mounted at /content/gdrive

In [8]:
df

         country  ...                                    winery
0          Italy  ...                                   Nicosia
1       Portugal  ...                       Quinta dos Avidagos
2             US  ...                                 Rainstorm
3             US  ...                                St. Julian
4             US  ...                              Sweet Cheeks
...          ...  ...                                       ...
129966   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967        US  ...                                  Citation
129968    France  ...                           Domaine Gresser
129969    France  ...                      Domaine Marcel Deiss
129970    France  ...                          Domaine Schoffit

[129971 rows x 13 columns]

In [9]:
df.country
# or df["country"]

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [10]:
df["country"][0]

'Italy'

INDEXING IN PANDAS

In [11]:
df.iloc[0]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [12]:
df.iloc[:,0]

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [13]:
df.iloc[:3,0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [14]:
df.iloc[1:3,0]

1    Portugal
2          US
Name: country, dtype: object

In [15]:
df.iloc[[1,2,3],0]

1    Portugal
2          US
3          US
Name: country, dtype: object

In [16]:
df.iloc[-5:]

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

In [17]:
df.loc[0, 'country']

'Italy'

In [18]:
df.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

               taster_name taster_twitter_handle  points
0            Kerin O’Keefe          @kerinokeefe      87
1               Roger Voss            @vossroger      87
2             Paul Gregutt           @paulgwine       87
3       Alexander Peartree                   NaN      87
4             Paul Gregutt           @paulgwine       87
...                    ...                   ...     ...
129966  Anna Lee C. Iijima                   NaN      90
129967        Paul Gregutt           @paulgwine       90
129968          Roger Voss            @vossroger      90
129969          Roger Voss            @vossroger      90
129970          Roger Voss            @vossroger      90

[129971 rows x 3 columns]

MANIPULATING THE INDEX

In [19]:
df.set_index("title")

                                                     country  ...                                    winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...                                   Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...                       Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley)             US  ...                                 Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (...        US  ...                                St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child ...        US  ...                              Sweet Cheeks
...                                                      ...  ...                                       ...
Dr. H. Thanisch (Erben Müller-Burggraef) 2013 B...   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
Citation 2004 Pinot Noir (Oregon)                         US  ...                                  Citation
Domaine Gresser 2013 Kritt Gewurztraminer (Alsace)    France  ...                           Domaine Gresser
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...                      Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...                          Domaine Schoffit

[129971 rows x 12 columns]

CONDITIONAL SELECTION

In [20]:
df.country == 'Italy'

0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [21]:
df.loc[df.country == 'Italy']

       country  ...                           winery
0        Italy  ...                          Nicosia
6        Italy  ...                  Terre di Giurfo
13       Italy  ...              Masseria Setteporte
22       Italy  ...               Baglio di Pianetto
24       Italy  ...                        Canicattì
...        ...  ...                              ...
129929   Italy  ...             Col Vetoraz Spumanti
129943   Italy  ...  Baglio del Cristo di Campobello
129947   Italy  ...         Feudo Principi di Butera
129961   Italy  ...                              COS
129962   Italy  ...                         Cusumano

[19540 rows x 13 columns]

In [22]:
df.loc[(df.country == 'Italy') & (df.points >= 90)]

       country  ...                           winery
120      Italy  ...                          Ceretto
130      Italy  ...                          Ceretto
133      Italy  ...             Poderi Luigi Einaudi
135      Italy  ...                  Giacomo Ascheri
140      Italy  ...                     Poderi Colla
...        ...  ...                              ...
129929   Italy  ...             Col Vetoraz Spumanti
129943   Italy  ...  Baglio del Cristo di Campobello
129947   Italy  ...         Feudo Principi di Butera
129961   Italy  ...                              COS
129962   Italy  ...                         Cusumano

[6648 rows x 13 columns]

In [23]:
df.loc[(df.country == 'Italy') | (df.points >= 90)]

        country  ...                                    winery
0         Italy  ...                                   Nicosia
6         Italy  ...                           Terre di Giurfo
13        Italy  ...                       Masseria Setteporte
22        Italy  ...                        Baglio di Pianetto
24        Italy  ...                                 Canicattì
...         ...  ...                                       ...
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[61937 rows x 13 columns]

In [24]:
df.loc[df.country.isin(['Italy', 'France'])]

       country  ...                   winery
0        Italy  ...                  Nicosia
6        Italy  ...          Terre di Giurfo
7       France  ...                 Trimbach
9       France  ...       Jean-Baptiste Adam
11      France  ...               Leon Beyer
...        ...  ...                      ...
129964  France  ...          Domaine Ehrhart
129965  France  ...  Domaine Rieflé-Landmann
129968  France  ...          Domaine Gresser
129969  France  ...     Domaine Marcel Deiss
129970  France  ...         Domaine Schoffit

[41633 rows x 13 columns]

In [25]:
df.loc[df.price.notnull()]

         country  ...                                    winery
1       Portugal  ...                       Quinta dos Avidagos
2             US  ...                                 Rainstorm
3             US  ...                                St. Julian
4             US  ...                              Sweet Cheeks
5          Spain  ...                                    Tandem
...          ...  ...                                       ...
129966   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967        US  ...                                  Citation
129968    France  ...                           Domaine Gresser
129969    France  ...                      Domaine Marcel Deiss
129970    France  ...                          Domaine Schoffit

[120975 rows x 13 columns]

In [26]:
df['critic'] = 'everyone'
df['critic']

0         everyone
1         everyone
2         everyone
3         everyone
4         everyone
            ...
129966    everyone
129967    everyone
129968    everyone
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

In [27]:
df['index_backwards'] = range(len(df), 0, -1)
df['index_backwards']

0         129971
1         129970
2         129969
3         129968
4         129967
           ...
129966         5
129967         4
129968         3
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

SUMMARY FUNCTIONS

In [28]:
df.describe()

              points          price  index_backwards
count  129971.000000  120975.000000    129971.000000
mean       88.447138      35.363389     64986.000000
std         3.039730      41.022218     37519.540256
min        80.000000       4.000000         1.000000
25%        86.000000      17.000000     32493.500000
50%        88.000000      25.000000     64986.000000
75%        91.000000      42.000000     97478.500000
max       100.000000    3300.000000    129971.000000

In [29]:
df.points.mean()

88.44713820775404

In [30]:
df.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

MAPS

In [31]:
df_points_mean = df.points.mean()
df.points.map(lambda p : p - df_points_mean)

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [32]:
df.country + " - " + df.region_1

0                     Italy - Etna
1                              NaN
2           US - Willamette Valley
3         US - Lake Michigan Shore
4           US - Willamette Valley
                    ...
129966                         NaN
129967                 US - Oregon
129968             France - Alsace
129969             France - Alsace
129970             France - Alsace
Length: 129971, dtype: object

GROUPING AND SORTING

In [33]:
df.groupby("points").points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [34]:
df.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [35]:
df.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [36]:
df.groupby(['country', 'province']).apply(lambda df1: df1.loc[df1.points.idxmax()])

                              country  ... index_backwards
country   province                     ...
Argentina Mendoza Province  Argentina  ...           47217
          Other             Argentina  ...           51668
Armenia   Armenia             Armenia  ...           63825
Australia Australia Other   Australia  ...           92089
          New South Wales   Australia  ...           44634
...                               ...  ...             ...
Uruguay   Juanico             Uruguay  ...          120838
          Montevideo          Uruguay  ...          114221
          Progreso            Uruguay  ...           36868
          San Jose            Uruguay  ...           90073
          Uruguay             Uruguay  ...           90610

[425 rows x 15 columns]

In [37]:
df.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Argentina                3800   4.0   230.0
Armenia                     2  14.0    15.0
Australia                2329   5.0   850.0
Austria                  3345   7.0  1100.0
Bosnia and Herzegovina      2  12.0    13.0
Brazil                     52  10.0    60.0
Bulgaria                  141   8.0   100.0
Canada                    257  12.0   120.0
Chile                    4472   5.0   400.0
China                       1  18.0    18.0
Croatia                    73  12.0    65.0
Cyprus                     11  11.0    21.0
Czech Republic             12  15.0    45.0
Egypt                       1   NaN     NaN
England                    74  25.0    95.0
France                  22093   5.0  3300.0
Georgia                    86   9.0    40.0
Germany                  2165   5.0   775.0
Greece                    466   8.0    79.0
Hungary                   146  10.0   764.0
India                       9  10.0    20.0
Israel                    505   8.0   150.0
Italy                   19540   5.0   900.0
Lebanon                    35  13.0    75.0
Luxembourg                  6  16.0    30.0
Macedonia                  12  15.0    20.0
Mexico                     70   8.0   108.0
Moldova                    59   8.0    42.0
Morocco                    28  14.0    40.0
New Zealand              1419   7.0   130.0
Peru                       16  10.0    68.0
Portugal                 5691   5.0  1000.0
Romania                   120   4.0   320.0
Serbia                     12  15.0    42.0
Slovakia                    1  16.0    16.0
Slovenia                   87   7.0    90.0
South Africa             1401   5.0   330.0
Spain                    6645   4.0   770.0
Switzerland                 7  21.0   160.0
Turkey                     90  14.0   120.0
US                      54504   4.0  2013.0
Ukraine                    14   6.0    13.0
Uruguay                   109  10.0   130.0

In [38]:
countries_reviewed = df.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [39]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [40]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [41]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

In [42]:
countries_reviewed.sort_values(by='len', ascending=False)

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

In [43]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [44]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

DATATYPES AND MISSING VALUES

In [45]:
df.price.dtype

dtype('float64')

In [46]:
df.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
critic                    object
index_backwards            int64
dtype: object

In [47]:
df.points.astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [48]:
df.index.dtype

dtype('int64')

In [51]:
df[pd.isnull(df.country)]

       country  ... index_backwards
913        NaN  ...          129058
3131       NaN  ...          126840
4243       NaN  ...          125728
9509       NaN  ...          120462
9750       NaN  ...          120221
...        ...  ...             ...
124176     NaN  ...            5795
129407     NaN  ...             564
129408     NaN  ...             563
129590     NaN  ...             381
129900     NaN  ...              71

[63 rows x 15 columns]

In [50]:
df.region_2.fillna("Unknown")

0                   Unknown
1                   Unknown
2         Willamette Valley
3                   Unknown
4         Willamette Valley
                ...
129966              Unknown
129967         Oregon Other
129968              Unknown
129969              Unknown
129970              Unknown
Name: region_2, Length: 129971, dtype: object

In [53]:
df.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object